<%= javascript_include_tag "shop_detail_map" %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAPS_API_KEY'] %>&callback=initMap" async defer></script>

<% content_for(:title, @bagel_shop.name) %>
<div class="container mt-4">
  <div class="row">
    <div class="col-lg-7 offset-lg-2">
      <h2 class="mb-4"><%= t('.title') %></h2>

      <div class="card mb-4">
        <% if @bagel_shop.photo_references.present? %>
        <%= image_tag place_photo_path(ref: @bagel_shop.photo_references.split(",").first), alt: @bagel_shop.name, class: "card-img-top shop-image", width: "400", height: "400", style: "object-fit: cover;" %>
        <!--
        <%= image_tag "https://maps.googleapis.com/maps/api/place/photo?maxwidth=800&photo_reference=#{@bagel_shop.photo_references.split(",").first}&key=#{ENV['GMAPS_API_KEY']}", alt: @bagel_shop.name, size: "400x400", class: "card-img-top shop-image", style: "object-fit: cover;" %>
        -->
        <% else %>
        <%= image_tag "bagel_shop_placeholder.jpg", class: "card-img-top shop-image", width: "400", height: "400", style: "object-fit: cover;" %>
        <% end %>
      </div>

      <h3 class="mb-2"><%= @bagel_shop.name %></h3>
      <% if @bagel_shop.rating.present? %>
      <p><i class="fa-solid fa-star" style="color: #FFD43B;"></i><%= @bagel_shop.rating %> (<%= @bagel_shop.user_ratings_total %>)</p>
      <% else %>
      <p>評価がありません</p>
      <% end %>

      <div class="mb-3 shop-info-section">
        <strong>営業時間</strong>
        <% if @opening_hours.present? %>
        <% @opening_hours.each do |opening_hour| %>
        <p class="mb-0"><%= opening_hour %></p>
        <% end %>
        <% else %>
        <p>営業時間の情報がありません</p>
        <% end %>
      </div>

      <div class="mb-3 shop-info-section">
        <strong>電話番号</strong>
        <% if @bagel_shop.formatted_phone_number.present? %>
        <p><%= @bagel_shop.formatted_phone_number %></p>
        <% else %>
        <p>電話番号がありません</p>
        <% end %>
      </div>

      <div class="mb-3 shop-info-section">
        <strong>公式サイト・SNS</strong>
        <% if @bagel_shop.website.present? %>
        <p><%= link_to @bagel_shop.website, @bagel_shop.website, target: :_blank, rel: "noopener noreferrer"%></p>
        <% else %>
        <p>Webサイト・SNSがありません</p>
        <% end %>
      </div>

      <div class="mb-3 shop-info-section">
        <strong>住所</strong>
        <p><%= @bagel_shop.address %></p>
      </div>

      <div class="mb-4 shop-info-section">
        <div id="map" class="shop-map"></div>
      </div>
    </div>

    <div class="col-lg-3 mt-5 sticky-sidebar">
      <div class="list-group mb-4">
        <!--
          <%= link_to 'コメント投稿', '#', class: 'list-group-item list-group-item-action' %>
          <%= link_to 'お気に入り追加', '#', class: 'list-group-item list-group-item-action' %>
          <%= link_to 'お気に入り削除', '#', class: 'list-group-item list-group-item-action text-danger' %>
          -->
        <%= link_to "https://www.google.com/maps/dir/?api=1&destination=#{@bagel_shop.latitude}-#{@bagel_shop.longitude}&destination_place_id=#{@bagel_shop.place_id}", class: 'btn btn-route mb-2', target: :_blank, rel: "noopener noreferrer" do %>
        <i class="fa-solid fa-route"></i>ルート
        <% end %>
        <%= link_to "https://www.google.com/maps/search/?api=1&query=#{@bagel_shop.latitude}-#{@bagel_shop.longitude}&query_place_id=#{@bagel_shop.place_id}", class: 'btn btn-route', target: :_blank, rel: "noopener noreferrer" do %>
        <i class="fa-brands fa-google"></i>マップで開く
        <% end %>
      </div>
    </div>
  </div>
</div>
