<div class="d-flex justify-content-between align-items-center">
  <!-- 検索フォーム -->
  <%= search_form_for @q, url: bagel_shops_path, method: :get, data: { turbo: false } do |f| %>
  <div class="search-form-container d-flex align-items-center">
    <div class="input-group">
      <%= f.search_field :address_or_name_cont, class: 'form-control', placeholder: "店舗名、地名で検索", id: 'name_or_address' %>
      <div class="input-group-append">
        <%= button_tag type: 'submit', class: 'btn btn-primary', name: 'search_button' do %>
        <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      </div>
    </div>

    <!-- 絞り込みボタン（ドロップダウン） -->
    <div class="dropdown ms-2">
      <button class="btn btn-filter dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
        <i class="fa-solid fa-filter"></i> 絞り込み
      </button>

      <!-- 絞り込みフォーム（ドロップダウンの中） -->
      <div class="dropdown-menu p-4" style="min-width: 250px;">
        <div class="mb-3">
          <%= f.label :rating_gteq, "評価" %>
          <div class="input-group">
            <%= f.number_field :rating_gteq, class: "form-control", step: "0.1", placeholder: "例: 4.0" %>
            <span class="input-group-text">以上</span>
          </div>
        </div>

        <%= f.label :user_ratings_total_gteq, "コメント数" %>
        <div class="input-group">
          <%= f.number_field :user_ratings_total_gteq, class: "form-control", placeholder: "例: 50" %>
          <span class="input-group-text">以上</span>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <!-- ソート -->
  <% if current_page?(bagel_shops_path) %>
  <div class="sort-links-container">
    <%= sort_link(@q, :rating, '評価順', default_order: :desc) %>
    <%= sort_link(@q, :user_ratings_total, 'コメント数順', default_order: :desc) %>
    <!-- <%= sort_link(@q, :distance, '距離順') %> </div> -->
  </div>
  <% end %>
