<div class="d-flex justify-content-between align-items-center">
  <!-- 検索フォーム -->
  <div class="search-form-container">
    <%= search_form_for @q, url: bagel_shops_path, method: :get, data: { turbo: false } do |f| %>
    <div class="input-group">
      <%= f.search_field :address_or_name_cont, class: 'form-control', placeholder: "店舗名、地名で検索", id: 'name_or_address' %>
      <div class="input-group-append">
        <%= button_tag type: 'submit', class: 'btn btn-primary', name: 'search_button' do %>
        <i class="fa-solid fa-magnifying-glass" style="color: #ede8e2;"></i>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>

  <!-- ソート
  <div class="sort-links-container">
    <%= sort_link(@q, :rating, '評価順') %>
    <%= sort_link(@q, :distance, '距離順') %>
  </div> -->
</div>
